<form method="post" action="/entries/<%=@entry.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <TEXTAREA Name="content" ROWS=2 COLS=20> value="<%= @entry.content %>"></TEXTAREA>
  <input type="submit" value="submit">
</form>
