<div class="content">
  <p><%= @entry.content %>
    <p><%= @entry.date %>
</div>

<form method="get" action="/entries/<%=@entry.id%>/edit">
    <button type="submit">Edit Entry</button>
</form>

<form method="post" action="/entries/<%=@entry.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Entry">
</form>
