<% if logged_in? %>

  <h1> <%= current_user.username %>'s Dream Journal </h1>

  <% @entries = current_user.entries %>
  <% @entries.each do |entry| %>
    <div>
      <%= "  #{entry.date}" %>
      <%= "~  #{entry.content}" %>
      <a href="/entries/<%=entry.id%>">Edit/Delete </a>
    </div>
  <%end%>

<% else %>

  <h2>Please sign up or login to make dream entries</h2>

<% end %>
