<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lucid Dreamers Journal</title>
    <h1>WELCOME TO THE LUCID DREAMERS JOURNAL</h1>
    <h2>The interactive journal to record dreams and become an avid lucid dreamer!</h2>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About Lucid Dreaming</a>
    <a href="/tips">Tips and Tricks to Become Lucid</a>
    <a href="/playtime">What To Do When Lucid</a>

    <%= yield %>
  </body>
</html>
