<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lucid Dreamers Journal</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
   <img src="images/northernlights.jpg" class="image">
    <h1 class="title">WELCOME TO THE LUCID DREAMERS JOURNAL</h1>
    <h2 class="subtitle"> Record Your Dreams and Become an Avid Lucid Dreamer!</h2>
  </head>
  <body>
<div class="menu-wrap">
  <nav class="menu">
      <ul class="clearfix">
          <% if logged_in? %>
        <li><a href="/">Home</a></li>
        <li><a href="/create_entry">Create a New Dream Entry</a></li>
        <li><a href="#">Resources <span class="arrow">&#9660;</span></a>
          <ul class="sub-menu">
          <li><a href="/about">About Lucid Dreaming</a></li>
          <li><a href="/tips">Tips and Tricks to Become Lucid</a></li>
          <li><a href="/playtime">What To Do When Lucid</a></li>
      </ul>
      </li>
      <li><a href="/logout">Log Out</a></li>

      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login">Sign In</a>
      <% end %>
      </ul>
      </nav>
    </div>

    <%= yield %>

  </body>
</html>
