<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <h1 class="resources">What is Lucid Dreaming?</h1>
    <h2>Overview</h2>
  </head>
  <body>
    <p>A lucid dream is a dream during which the dreamer is aware of dreaming. During lucid dreaming, the dreamer may be able to exert some degree of control over the dream characters, narrative, and environment.</p>
    <p>A very interesting fact is everyone dreams when they sleep, and if someone says they did not dream, it just means they did not recall their dream. The most important part of becoming an active lucid dreamer is dream recall.</p>
    <p>To become lucid, the dreamer must become aware they are dreaming, using certian visual cues, which differ from person to person. Check out the Tips and Tricks tab to learn how to become lucid in your dreams.</p>
  </body>
</html>
