<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Play Time</title>
    <h1 class="resources">What Can You Do When You Become Lucid?</h1>
    <h2>The possibilities are endless!</h2>
  </head>
  <body>
    <p>So you have successfully become lucid in your dream, so what now? There are endless possibilities of what you can do while lucid. As a beginner, what most lucid dreamers will do is PLAY!!!! </p>
    <p>By play, something I find that is an amazing feeling is flying, but before I get into the stuff you can do, I will go over how you can do all the magical things in your dreams. </p>
    <p>The key to moving around and doing stuff in your dream relies on two factors, intention and expectaion. While that may sound confusing at first, it is quite simple. So in the case of flying, do not try to fly....just fly. Set an intention to fly around and expect it to happen. Confidence is the key. Many dreamers try flapping their arms like a bird, but think Neo from the Matrix and just take off like Superman.</p>
    <p>Something to remember, a difficult part of lucid dreaming is staying lucid in the dream. The thought of "I am dreaming" needs to remain in your head, and just remember to tell it yourself over and over again in your head in order to remain in your lucid state as long as possible.</p>
    <p>Many lucid dreamers will lose their lucidity immediately upon flying and being so in the moment, they forget they are dreaming and basically you will not remember the rest of your dream, or you will wake up.</p>
    <p>Do not be discouraged though, the important part is to have fun! Other things that lucid dreamers have done is transform into birds of prey and fly around, telekinis powers, and even changing your environment or people around you. Something to remember when trying to change your environment is to proclaim (Out Loud!) what you wish to see, or who you wish to see. Proclaiming "I am going to wake up now!" is a way to end your dream. </p>
    <p>So remember the possibilities are truly endless, try throwing fireballs, or summoning a famous person from history, or travel to somewhere interesting. Remember to proclaim, intend, expect and remain aware that you are dreaming, and you will find lucid dreaming a very rewarding experience!</p>
  </body>
</html>
