<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tips and Tricks</title>
    <h1 class="resources">Make these common practice and You will be a Lucid Dreamer in no time</h1>
    <h2>Tips and Tricks</h2>
  </head>
  <body>
    <p>The most important way to become a better lucid dreamer is to record your dreams, in the fullest detail possible, immediately upon waking up.</p>
    <p>The next step is the read over these dream entries before going to bed, to help you remember the details of your dream, most likely there will be a recurring detail, such as a certain color item, or strange fictitious animal, the list goes on. A recurring item may also be a certain dream character, they may also let you know you are dreaming.</p>
    <p>These tips above are often overlooked, as they do require some work from you the dreamer. They are vital to your lucid dreaming success.</p>
    <p>Another common trick to become lucid, is called the 'Find your Hands' technique. Throughout the course of your day, look down at your hands and ask yourself, "Am I dreaming?". Sounds ridiculous, but this is a very successful tip to become lucid. Your hands are always connected to you, and chances are you will see them in your dream, and if you speak the phrase throughout the day, chances are you will say it in your dreams. This has been a very well documented technique that has worked for many dreamers.</p>
    <p>Another trick, that some dreamers may not find very fun, but the success rate is through the roof, I will call it the "Early Bird" Technique. Let's say you usually wake up at 7 am every morning. This trick requires you to wake up 2 hours prior to your regualar wake up time (so 5 am in this case). Set an alarm, you do not have to get out of bed, but make sure you are awake and not just sleeping through the alarm. Try to stay awake for about 15 minutes and the most important part to have your mind primarily focused on lucid dreaming. Tell yourself you are about to have a lucid dream, you will 'find your hands' in your dream and become lucid. After about 15 minutes, go back to sleep and you will be primed for a lucid dream. This has worked for me personally numerous times, and might be the most successful method to have a lucid dream. </p>
  </body>
</html>
